/* Colors */
/* Primary Colors */
/*Neutral Colors*/
/* Light Theme */
/* Dark Theme Colors */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

button {
  border: none;
  margin: 1rem;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  color: hsl(234, 11%, 52%);
  font-size: 1rem;
}
button:hover {
  color: hsl(220, 98%, 61%);
}

/* Hide the default checkbox */
input[type=checkbox] {
  display: none;
}

/* Create the custom circular checkbox */
input[type=checkbox] + label {
  margin-right: 1.5rem;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid hsl(233, 11%, 84%);
  position: relative;
  cursor: pointer;
}

/* Show the checkmark when the checkbox is checked */
input[type=checkbox]:checked + label::before {
  content: "";
  width: 20px;
  height: 20px;
  background: linear-gradient(192deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Center the checkmark symbol within the circle */
input[type=checkbox] + label::after {
  content: url("./src/assets/images/icon-check.svg"); /* Checkmark symbol */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Initially scale to 0 */
  transition: transform 0.3s ease; /* Add a smooth transition */
}

/* Show the checkmark when the checkbox is checked */
input[type=checkbox]:checked + label::after {
  transform: translate(-50%, -50%) scale(1); /* Scale to 1 on checked state */
}

button img {
  width: 1rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
}
.container .top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-image: url("./src/assets/images/bg-desktop-dark.jpg");
  background-size: cover;
}

.wrapper {
  position: absolute;
  top: 5%;
  max-width: 750px;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header .logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.header .change-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.header .change-button img {
  width: 1.5rem;
}

.add-todo {
  margin-bottom: 1.5rem;
}
.add-todo .input-field {
  background-color: hsl(0, 0%, 98%);
  padding: 0.3rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  border-radius: 6px;
}
.add-todo .input-field input[type=text] {
  font-size: 18px;
  border: none;
  outline: none;
}
.add-todo .input-field input[type=checkbox] {
  display: none;
}

.list-items .items {
  padding: 0.7rem;
  outline: 1px solid hsl(0, 0%, 98%);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-items .items .todo-item {
  display: flex;
  align-items: center;
}
.list-items .items .action-btns {
  visibility: visible;
}
.list-items .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}
.list-items .footer .button-wrapper {
  display: none;
}
.list-items .button-wrapper-mb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-items .info-text {
  text-align: center;
}

.message-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media (min-width: 650px) {
  .list-items .footer .button-wrapper {
    display: block;
  }
  .list-items .button-wrapper-mb {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */